@import "../node_modules/bootstrap/scss/bootstrap";

body {
    height: 100%;
    width: 100%;
}

nav {
    background-color:rgb(221 221 221);
    opacity: 0.8;
}

.bgimage {
    background-position: center;
    background-size: cover;
    background-image: url("../assets/bg.jpg");
    min-height: 100%;
}
