@media screen and (min-widht: 320px)
{body 

.logo img {
    width: 150px;
    height: 150px;
}
.menu {
    color: black;
    position: sticky;
    top: 80 px;
    display: flex; 
    justify-content: space-around;
    z-index: 1;  
} 

.hlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hlist li {
    display: inline-block;
    width: 33%;
}

.card {
    display: flex; 
    flex-flow: row wrap;
    text-align: center;
    padding: 16px;

}

.card img {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.contact {
    width: 100%;
    padding: 5px;
}

.contact input {
    width: 75%;
}

.contact textarea {
    width: 75%;
}

.vtop {
    vertical-align: top;
}

/*Regla de la media query para diseño responsive*/ 
/* Mobile 
@media only screen and (max-widht: 500px) 
@media only screen and (min-widht: 501px) and (max-widht: 960px) 
@media only screen and (min-widht: 961px)
*/ 

}