.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.carousel-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.logo img {
    width: 150px;
    height: 150px;
}

.menu {
    color: black;
    position: sticky;
    top: 80 px;
    display: flex; 
    justify-content: space-around;
    z-index: 1;  
}

.card {
    display: flex; 
    flex-flow: row wrap;
    text-align: center;
    padding: 16px;

}

.card img {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.contact {
    width: 100%;
    padding: 5px;
}

.contact input {
    width: 75%;
}

.contact textarea {
    width: 75%;
}

.vtop {
    vertical-align: top;
}